header, nav, footer
{
    background-color: #333;
    color: white;
    padding: 15px;
    text-align: center;
}
/* Estilos para el contenido principal*/
@media (max-width: 600px)
{
    nav ul {
        flex-direction: column;
    }
    .seccioness {
        flex-direction: column;
    }
}
 
@media (min-width: 601px)
{
    .seccioness {
        flex-direction: row;
    }
}
a
{
    color: yellow;
}
 nav ul
{
    display: flex;
    justify-content: center;
    justify-content: space-around;
}
#Formulario 
{

text-align: left 50px justify;



}
#Casillas
{

    border: 2px rgb(245, 245, 245) solid;
    background-color: black;

}
#Objetivos
{


       justify-self: left ;
    word-spacing:10px;
    margin-left: 30px;

}